.song {
  display: flex;
  justify-content: space-between;
  width: 300px;
  border-bottom: 1px solid blue;
  padding: 10px;
}

.song__title > h1 {
  font-size: 14px;
  font-weight: 500;
}

.select__button > button {
  background-color: rgb(30, 148, 194);
  color: white;
  width: 80px;
  height: 20px;
  border: none;
  outline: none;
}

.select__button > button:hover {
  background-color: white;
  color: rgb(30, 148, 194);
  border: 1px solid darkblue;
}
